.container{
    width: 60%;
    overflow: auto;
    color: gray;
    margin-top: 12px;
}
.container h1{
    text-align: center;
}
.navbar_box{
    display: flex;
}
.book{
    font-size: 30px;
}
.navbar_box .navbar{
    margin-left: auto;
}
.navbar li {
    padding: 12px;
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    display: flex;
  }

  .navbar span{
    float: right;
    margin-right: 50px;
  }