@font-face {
    font-family: 'Serif';
    src: url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600&family=Kumbh+Sans&family=Montserrat+Alternates:wght@200&family=PT+Serif&family=Xanh+Mono:ital@1&display=swap') format('Serif'),
         
  }

.container{
    width: 60%;
    overflow: auto;
    color: var(--body_color);
    background-color: var( --body_background);
    margin-top: 12px;
}
.container h1{
    text-align: center;
}
.navbar_box{
    display: flex;
}
.book{
    font-size: 30px;
}
.navbar_box .navbar{
    margin-left: auto;
}
.navbar li {
    padding: 12px;
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    display: flex;
  }

  .navbar span{
    float: right;
    margin-right: 50px;
  }